body, html {
    background-color: #f0f4f8; /* White background for the entire page */
    height: 100%; /* Ensure body and html cover the full height */
    margin: 0; /* Remove default margin */
}
  
  
  
.font{
    margin-top: 40px; 
    text-align: center; 
    font-size: 1.5rem; 
    font-weight: bold; 
    line-height: 2.25rem; 
    letter-spacing: -0.01562em;
    color: rgb(0, 0, 0);
}
.custom-bg {
    background-color: #f0f4f8; 
}

.bg{
    color: #f0f4f8;
}
  