body, html {
    background-color: #f0f4f8; /* White background for the entire page */
    height: 100%; /* Ensure body and html cover the full height */
    margin: 0; /* Remove default margin */
}
  
  
  
.font{
    margin-top: 40px; /* Equivalent to mt-10 */
    text-align: center; /* Equivalent to text-center */
    font-size: 1.5rem; /* Equivalent to text-2xl */
    font-weight: bold; /* Equivalent to font-bold */
    line-height: 2.25rem; /* Equivalent to leading-9 */
    letter-spacing: -0.01562em;
    color: rgb(0, 0, 0);
}
.custom-bg {
    background-color: #f0f4f8; /* Change this to your desired background color */
}

.bg{
    color: #f0f4f8;
}
  